* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer {
    text-align: center;
    color: white;
    padding: 10px;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn-logout {
    background-color: crimson;
    color: white;
}